In [1]:
from platform import python_version
print(python_version())

3.8.3

In [51]:
#https://crime-data-explorer.app.cloud.gov/explorer/state/georgia/crime

In [2]:
import pandas as pd
import numpy as np, sys, time, pdb, matplotlib.pyplot as plt
from pymongo import MongoClient

In [3]:
pd.set_option('display.max_rows', 100)# None

In [4]:
data_2020 = pd.read_csv('./flask/static/data/COBRA-2020.csv')
data_2021 = pd.read_csv('./flask/static/data/COBRA-2021.csv')
data_2009_2019 = pd.read_csv('./flask/static/data/COBRA-2009-2019.csv', low_memory=False)

In [5]:
data_2020_list = data_2020.columns.values.tolist()
data_2021_list = data_2021.columns.values.tolist()
data_2009_2019_list = data_2009_2019.columns.values.tolist()

In [6]:
print(len(data_2020_list))
data_2020.head(1)

20

,offense_id,rpt_date,occur_date,occur_time,poss_date,poss_time,beat,apt_office_prefix,apt_office_num,location,MinOfucr,dispo_code,Shift,loc_type,UC2_Literal,ibr_code,neighborhood,npu,long,lat
0,203341346,12/31/2020,11/29/2020,19:21,11/29/2020,23:50,405,NaN,NaN,3050 M.L.K. JR DR SW,NaN,NaN,NaN,NaN,AGG ASSAULT,13A,Harland Terrace,I,-84.486163,33.75106

In [7]:
print(len(data_2009_2019_list))
data_2009_2019.tail(10)

19

,Report Number,Report Date,Occur Date,Occur Time,Possible Date,Possible Time,Beat,Apartment Office Prefix,Apartment Number,Location,Shift Occurence,Location Type,UCR Literal,UCR #,IBR Code,Neighborhood,NPU,Latitude,Longitude
342904,193651605,2019-12-31,2019-12-31,1615,2019-12-31,1745.0,507.0,NaN,NaN,180 WALKER ST SW,Evening Watch,18,LARCENY-FROM VEHICLE,640,2305,Castleberry Hill,M,33.74964,-84.40132
342905,193651845,2019-12-31,2019-12-31,1855,2019-12-31,1915.0,602.0,NaN,NaN,99 KROG ST NE,Morning Watch,18,LARCENY-FROM VEHICLE,640,2305,Inman Park,N,33.75667,-84.36390
342906,193652247,2019-12-31,2019-12-31,2130,2019-12-31,2132.0,503.0,NaN,NaN,992 PEACHTREE ST NE,Evening Watch,13,LARCENY-FROM VEHICLE,640,2305,Midtown,E,33.78192,-84.38410
342907,193652287,2019-12-31,2019-12-31,2000,2019-12-31,2101.0,501.0,NaN,NaN,1371 MARKET ST NW,Evening Watch,18,LARCENY-FROM VEHICLE,640,2305,Atlantic Station,E,33.79210,-84.39466
342908,193642145,2019-12-31,2019-12-30,2001,2019-12-30,2157.0,501.0,NaN,NaN,1085 HOWELL MILL RD NW,Evening Watch,18,LARCENY-FROM VEHICLE,640,2305,Home Park,E,33.78455,-84.41142
342909,193652089,2019-12-31,2019-12-31,2030,2019-12-31,2034.0,105.0,NaN,NaN,1385 SHARON ST NW,Morning Watch,20,AGG ASSAULT,420,1315K,Hunter Hills,K,33.75486,-84.43287
342910,193650336,2019-12-31,2019-12-31,0432,2019-12-31,432.0,206.0,NaN,NaN,262 PHARR RD NE,Morning Watch,NaN,AGG ASSAULT,410,1314,Buckhead Village,B,33.83732,-84.37860
342911,193650603,2019-12-31,2019-12-31,0920,2019-12-31,940.0,404.0,NaN,NaN,689 CASCADE AVE SW,Day Watch,18,AGG ASSAULT,410,1314,Westview,T,33.73636,-84.43680
342912,193651760,2019-12-31,2019-12-31,1853,2019-12-31,1900.0,404.0,NaN,NaN,763 CASCADE AVE SW,Evening Watch,26,AGG ASSAULT,410,1314,Westview,T,33.73483,-84.43750
342913,193652591,2019-12-31,2019-12-31,2045,2019-12-31,2055.0,406.0,NaN,NaN,237 PEYTON PL SW,Evening Watch,20,AGG ASSAULT,410,1314,Cascade Avenue/Road,S,33.72518,-84.45013

In [8]:
#Since the 2009-2019 dataset is the largest, everything will try and have the same columns as that dataset
data_2020.rename(columns = {
 'offense_id' : 'Report Number',
 'rpt_date' : 'Report Date',
 'occur_date' : 'Occur Date',
 'occur_time' : 'Occur Time',
 'poss_date' : 'Possible Date',
 'poss_time' : 'Possible Time',
 'beat' : 'Beat',
 'apt_office_prefix' : 'Apartment Office Prefix',
 'apt_office_num' : 'Apartment Number',
 'location' : 'Location',
 #'MinOfucr' : ,
 #'dispo_code' : ,
 'Shift' : 'Shift Occurence',
 'loc_type' : 'Location Type',
 'UC2_Literal': 'UCR Literal',
 'ibr_code' : 'IBR Code',
 'neighborhood' : 'Neighborhood',
 'npu' : 'NPU',
 'long' : 'Longitude',
 'lat' : 'Latitude'
}, inplace = True)
#Drop columns that do not seem to show up in 2009-2019 dataset
data_2020 = data_2020.drop(columns=['MinOfucr','dispo_code'])
data_2020.head(1)

,Report Number,Report Date,Occur Date,Occur Time,Possible Date,Possible Time,Beat,Apartment Office Prefix,Apartment Number,Location,Shift Occurence,Location Type,UCR Literal,IBR Code,Neighborhood,NPU,Longitude,Latitude
0,203341346,12/31/2020,11/29/2020,19:21,11/29/2020,23:50,405,NaN,NaN,3050 M.L.K. JR DR SW,NaN,NaN,AGG ASSAULT,13A,Harland Terrace,I,-84.486163,33.75106

In [9]:
list1 = data_2009_2019.columns.values.tolist()
list2 = data_2020.columns.values.tolist()

list_difference = [item for item in list1 if item not in list2]
print(list_difference)

['UCR #']

In [10]:
#It can be seen that the 'UCR #' shows up only in the 2009-2019 data and realistically serves no purpose because its a code only a cop would udnerstand
#So it should be droped to simplify
data_2009_2019 = data_2009_2019.drop(columns=['UCR #'])

In [11]:
list1 = data_2009_2019.columns.values.tolist()
list2 = data_2020.columns.values.tolist()

list_difference = [item for item in list1 if item not in list2]
print(list_difference)
#There should now be no differences as at all

[]

In [62]:
#data[['Report Date','Occur Date','Possible Date']] = data[['Report Date','Occur Date','Possible Date']].apply(pd.to_datetime)

In [12]:
#Concat the dataframes together
data = pd.concat([data_2009_2019, data_2020])

In [13]:
data_2009_2019['Occur Date'].sort_values()

240079    1916-01-07
243237    1916-03-29
243631    1916-04-02
247606    1916-05-15
248620    1916-05-30
             ...
342880    2019-12-31
342881    2019-12-31
342882    2019-12-31
342860    2019-12-31
342913    2019-12-31
Name: Occur Date, Length: 342914, dtype: object

In [14]:
data['Report Date'] = pd.to_datetime(data['Report Date'])
#data['Occur Date'] = pd.to_datetime(data['Occur Date'])

In [66]:
#data = data.astype({'Report Date':'datetime64','Occur Date':'datetime64','Possible Date':'datetime64'},errors = 'raise')

In [15]:
data.dtypes

Report Number                       int64
Report Date                datetime64[ns]
Occur Date                         object
Occur Time                         object
Possible Date                      object
Possible Time                      object
Beat                               object
Apartment Office Prefix            object
Apartment Number                   object
Location                           object
Shift Occurence                    object
Location Type                      object
UCR Literal                        object
IBR Code                           object
Neighborhood                       object
NPU                                object
Latitude                          float64
Longitude                         float64
dtype: object

In [16]:
data.to_csv('data.csv')

In [17]:
df = data.head(100)
df.reset_index(drop=True, inplace=True)
df.to_json('data.json')